@import '_imports.sass'
@import '_colors.sass'

.quality
    font-family: 'Inter', serif
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 22px
    text-align: left
    color: $primary-red
    display: block

.delivery
    font-family: 'Playfair Display', serif
    font-weight: 900
    font-size: 76px
    line-height: 86px
    color: $primary-black
    i
        color: $primary-red
        font-style: normal

.bestcooks
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 30px
    letter-spacing: -0.01em
    color: $primary-black
    display: block
    margin-top: 1.5em

.header input
    border-radius: 0

.header button
    background-color: $primary-red
    border-radius: 0 5px 5px 0
    color: white
    &:hover
        color: white
        background-color: $primary-red-hover
